<html lang="en">
<head>
<%- include('../partials/header.ejs') %>
</head>
<body>
<%- include('../partials/nav.ejs') %>
<div class="container w-25">
    <h2>Admin Dashboard</h2>
    <a href=" /admin/register" class="btn btn-danger btn-block">Register</a>
    <a href=" /admin/login" class="btn btn-danger btn-block">Sign in</a>
</div>
<%- include('../partials/footer.ejs') %>
</body>
</html>