<html lang="en">
<head>
<%- include('../partials/header.ejs') %>
</head>
<body>
<%- include('../partials/nav.ejs') %>
<div class="container w-25">
    <h2>Welcome <%= currentUser.name %></h2>

</div>
<%- include('../partials/footer.ejs') %>
</body>
</html>