<html lang="en">
<head>
<%- include('../partials/header.ejs') %>
</head>
<body>
<%- include('../partials/nav.ejs') %>
    <div class="container w-25">
      <h2>Forgot Password</h2>
      <%- include('../partials/messages.ejs') %>
        <form action="/forgot" method="POST">
          <div class="form-group px-0">
            <input
              type="email"
              name="email"
              class="form-control"
              placeholder="Enter Email Address"
            />
          </div><br>
          <button type="submit" class="btn btn-danger btn-block">
            Send Email
          </button>
        </form>
        <a class="float-right" href="/login">Back to Login</a>
</div>
<%- include('../partials/footer.ejs') %>
</body>
</html>