<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Node JS <% if (typeof title !== 'undefined' && title) { %> | <%= title %> <% } %></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
</head> 