<html lang="en">
    <%- include('../partials/header.ejs') %>     
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="error content">
        <h2>404 File not found</h2>
    </div>
</body>
<%- include('../partials/footer.ejs') %>   
</html>