<html lang="en">
    <%- include('./partials/header.ejs') %>     
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="error content">
        <h2></h2>
        <div class="container mt-3">
            <div class="mt-4 p-5 bg-primary text-white rounded">
              <h1>404 File not found</h1> 
              <p>Sorry, the page you are looking for cannot be found in this location. </p>
            </div>
          </div>
    </div>
</body>
<%- include('./partials/footer.ejs') %>   
</html>