<html lang="en">
    <%- include('../partials/header.ejs') %>      
<body>
   <%- include('../partials/nav.ejs') %>
    <div class="about content">
        <h2>About us</h2>
    </div>
</body>
<%- include('../partials/footer.ejs') %>   
</html>