<html lang="en">
    <%- include('../partials/header.ejs') %>      
<body>
   <%- include('../partials/nav.ejs') %>
    <div class="container">
      <h2 class="m-3">Log in</h2>
        <form>
            <div class="mb-3 col-sm-4">
              <label for="email" class="form-label">Email:</label>
              <input type="text" class="form-control" placeholder="Enter email" name="email">
              <div class = "email-error text-danger"></div>
            </div>
            <div class="mb-3 col-sm-4">
              <label for="pwd" class="form-label">Password:</label>
              <input type="password" class="form-control" placeholder="Enter password" name="password">
              <div class = "password-error text-danger"></div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    <script>
      const form = document.querySelector('form')
      const emailError = document.querySelector('.email-error');
      const passwordError = document.querySelector('.password-error');
      
      form.addEventListener('submit', async (e)=>{
        e.preventDefault();
        //get the values
        const email = form.email.value
        const password = form.password.value
        //reset errors
        emailError.textContent = ''
        passwordError.textContent = ''
       
        
        try{
          const res = await fetch('/login',{
            method: 'POST',
            body: JSON.stringify({email, password}),
            headers: {'Content-Type': 'application/json'}
          })
          const data = await res.json();
          console.log(data)

          if(data.errors){           
            emailError.textContent = data.errors.email
            passwordError.textContent = data.errors.password
          }
          if(data.user){
            location.assign('/')
          }
        }
        catch (err){
          console.log(err)
        }
        
      })     
    </script>
</body>
<%- include('../partials/footer.ejs') %>   
</html>