<html lang="en">
    <%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1 id="searchh1" class="text-center">Search Your Movie Here</h1>

    <form action="/results" method="GET" class="justify-content-center d-flex">
      <input
        type="text"
        name="search"
        class="form-control w-25"
        placeholder="Enter movie name.."
      />
      <button class="ml-3 text-center btn btn-success">Search Movie</button>
    </form>
  <%- include('../partials/footer.ejs') %>
  </body>
  </html>